.Lechuga{
    margin-top: -55px !important;
    margin-bottom: -20px !important;
}
.Queso{
    margin-bottom: -55px !important;
    z-index: 4 !important;
}
.Tomate{
    margin-bottom: -25px !important;
}
.Carne{
    margin-top: -35px !important;
    z-index: -1;
}